*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


html{
    scroll-behavior: smooth;
}

header{
    height: 700px;
    width: 100%;
    background-image: url(/IMAGENES/honda-cb-750-cafe-racer-7.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    
}




.nav-bar{
    height: 65px;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.521);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
    backdrop-filter: blur(20px);
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);   */
    
}

.nav-bar h2{
    font-size: 30px;
    color: rgb(190, 190, 190);
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s ease 0s ;
}

.nav-bar h2:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.2);
}



.btn-menu{
    display: none;
}
#check{
    display: none;
}



.nav-bar-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    list-style: none;
}

.nav-bar-items li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s ease 0s ;
    font-size: 12px;
}
.nav-bar-items li a:hover{
    color: rgb(255, 81, 0);
    transform: scale(1.5);
}




.container-eslogan{
    width: 50%;
    height: 100%;
    padding-left: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;

}
.container-eslogan h1{
    text-align:start;
    color: white;
}






.section-info{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-margin-top: 60px;
    scroll-behavior: smooth;   
    padding: 0 20;
}

.container-info{
    width: 72%;
    height: 300px;
    background: rgb(255, 255, 255);
}

.info-nosotros{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.info-nosotros p{
    color: rgb(46, 44, 44);
    font-size: 16px;
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
}






/*NUESTROS SERVICIOS*/
.cards-servicios{
    width: 100%;
    height: auto;
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: nowrap;
    padding: 30px;
}

.card-info{
    height: 600px;
    width: 500px;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    transition: all 0.3s ease 0s;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.562); 
}



.card-info:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.05);
    }




.cards-servicios  .card-info p{
    font-size: 15px;
    font-weight: 200;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    padding: 60px;
    border: solid 1px;
    border-color: rgb(161, 161, 161);
    width: 80%;
    

}

.card-info:nth-child(1){
    background-image: url(./IMAGENES/CARD\ INFO\ TAPIZADO\ ARREGLO.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-info:nth-child(2){
    background-image: url(./IMAGENES/CARD\ INFO\ TAPIZADO\ MOLDE2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-info:nth-child(3){
    background-image: url(./IMAGENES/CARD\ INFO\ TAPIZADO\ FINALA.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.container-galerias{
    width: 100%;
    height: auto;
    background-image: url(./IMAGENES/FONDO\ RESPOSIVE\ ASFALTO\ GALERIA\ 3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}





/* PRIMERA GALERIA DE FOTOS */
.container-galeria-1{
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding-top: 18px;
    scroll-margin-top: 60px;   
    scroll-behavior: smooth; 
}


.foto-grande-galeria1{
    height: 500px;
    width: 400px;
    cursor: pointer;
    background-image: url(./IMAGENES/galeria-1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.container-fotodoble1-galeria1{
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.foto-a-galeria1{
    height: 240px;
    width: 400px;
    cursor: pointer;
    background-image: url(./IMAGENES/FOTO\ GALERIA\ A.JPG);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.foto-b-galeria1{
    height: 240px;
    width: 400px;
    cursor: pointer;
    background-image: url(./IMAGENES/20200728_175315.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.container-fotodoble2-galeria1{
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.foto-c-galeria1{
    height: 240px;
    width: 400px;
    cursor: pointer;
    background-image: url(./IMAGENES/FOTO\ C\ GALERIA\ 1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.foto-d-galeria1{
    height: 240px;
    width: 400px;
    cursor: pointer;
    background-image: url(/IMAGENES/20210111_152359.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}



/*ANIMACIONES GALERIA DE FOTOS 1 */
.foto-grande-galeria1{
    transition: all 0.3s ease 0s;
}

.foto-grande-galeria1:hover{
    transform: scale(1.02);
    }



.foto-a-galeria1:hover{
    transform: scale(1.02);
    }
.foto-a-galeria1:hover{
        transition: all 0.3s ease 0s;
    }




.foto-b-galeria1:hover{
        transform: scale(1.02);
        }
.foto-b-galeria1:hover{
        transition: all 0.3s ease 0s;
        }
    



.foto-c-galeria1:hover{
        transform: scale(1.02);
        }
.foto-c-galeria1:hover{
        transition: all 0.3s ease 0s;
        }




.foto-d-galeria1:hover{
        transform: scale(1.02);
        }
.foto-d-galeria1:hover{
        transition: all 0.3s ease 0s;
        }







/* SEGUNDA GALERIA DE FOTOS */
.container-galeria-2{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px 0 20px 0;
}


.container-fotodoble1-galeria2{
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.foto-a-galeria2{
    height: 240px;
    width: 400px;
    cursor: pointer;
    background-image: url(./IMAGENES/20200303_115800.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.foto-b-galeria2{
    height: 240px;
    width: 400px;
    cursor: pointer;
    background-image: url(./IMAGENES/20210111_160924.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}





.container-fotodoble2-galeria2{
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.foto-c-galeria2{
    height: 240px;
    width: 400px;
    cursor: pointer;
    background-image: url(./IMAGENES/20210109_132604.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.foto-d-galeria2{
    height: 240px;
    width: 400px;
    cursor: pointer;
    background-image: url(./IMAGENES/20210115_163730.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.foto-grande-galeria2{
    height: 500px;
    width: 400px;
    cursor: pointer;
    background-image: url(./IMAGENES/FOTO\ GRANDE\ GALERIA\ 2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}



/*ANIMACIONES GALERIA DE FOTOS 2 */
.foto-grande-galeria2{
    transition: all 0.3s ease 0s;
}

.foto-grande-galeria2:hover{
    transform: scale(1.02);
    }



.foto-a-galeria2:hover{
    transform: scale(1.02);
    }
.foto-a-galeria2:hover{
        transition: all 0.3s ease 0s;
    }




.foto-b-galeria2:hover{
        transform: scale(1.02);
        }
.foto-b-galeria2:hover{
        transition: all 0.3s ease 0s;
        }
    

        

.foto-c-galeria2:hover{
        transform: scale(1.02);
        }
.foto-c-galeria2:hover{
        transition: all 0.3s ease 0s;
        }




.foto-d-galeria2:hover{
        transform: scale(1.02);
        }
.foto-d-galeria2:hover{
        transition: all 0.3s ease 0s;
        }





.form-container{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    background-image: url(./IMAGENES/FOTO\ FORMA.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    scroll-margin-top: 60px;   
    scroll-behavior: smooth; 
    
}


    .form-contacto{
        width: 450px;
        height: 450px;
        background: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 0 0 40px -10px #000;
        box-sizing: border-box;
        padding: 20px 30px;  
    }

    .form-contacto h2{
        margin: 10px 0;
        padding-bottom: 10px;
        width: 180px;
        color: rgb(0, 0, 0);
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        border-bottom: 3px solid black;
    }

    .form-contacto input{
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        background: none;
        outline: none;
        resize: none;
        border: 0;
        font-family: 'Montserrat', sans-serif;
        transition: all .3s;
        border-bottom: 2px solid grey;
    }

    .form-contacto input:focus{
        border-bottom: 2px solid lightblue;
    }

    .form-contacto p:before{
        content: attr(type);
        display: block;
        margin: 28px 0 0;
        font-size: 14px;
        color: gray;
    }

    .form-contacto button{
        float: right;
        padding: 8px 12px;
        margin: 8px 0 0;
        font-family: 'Montserrat', sans-serif;
        border: 2px solid gray;
        background: 0;
        color: black;
        cursor: pointer;
        transition: all .3s;
    }
    .form-contacto button:hover{
        background: gray;
        color:white
        

    }





    
    
    /* footer */
.pie_pagina{
    width: 100%;
    background:rgb(92, 92, 92);
    font-family: 'Montserrat', sans-serif;
    text-align: center;


}

.pie_pagina .grupo1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}


.pie_pagina .grupo1 .box h1{
    color: white;
}


.pie_pagina .grupo1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 15px;
}


.pie_pagina .grupo1 .box p{
    color: rgb(255, 255, 255);
    margin-bottom: 10px;

}


.pie_pagina .grupo1 .red_social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color:orangered;
    margin-right: 10px;
    border-radius: 5px;
    background-color: rgb(47, 47, 48);
    text-align: center;
    transition: all 300ms ease;
}


.pie_pagina .grupo1 .red_social a:hover{
    color: white;

}

.pie_pagina .grupo2{
    background-color: rgb(0, 0, 0);
    padding: 15px 10px;
    text-align: center;
    color: white;

}











/* CELULAR RESPONSIVE */
@media (max-width: 767px) {
    
    .nav-bar{
        background-color: rgba(0, 0, 0, 0.473);
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        

        
    }
    .nav-bar h2{
       width: auto;
       margin-left: 30px;
       font-size: 22px;
       color: rgb(255, 255, 255);
    }

    .btn-menu{
        font-size: 25px;
        margin-right: 30px;
        cursor: pointer;
        display: block;
        color: white;
    }
    
    
    .nav-bar-items{
        position: fixed;
        width: 100%;
        height: 400px;
        top: 70px;
        background-color: rgba(0, 0, 0, 0.842);
        transition: all 0.3s ;
        row-gap: 20px;
        right: -100%;
        display: flex;
        flex-direction: column;  
        
        
    }
    

    .nav-bar-items li {
        
        line-height: 30px;
        transition: all .5s;
        text-align: center;
    }

    .nav-bar-items li a {
        color: rgb(255, 255, 255);
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 200;
        
    }
    


    #check{
        display: none;
    }

    #check:checked ~ .nav-bar-items{
        right:0%
        
    }

    #check:checked ~ .nav-bar-items li{
        display: block;
    }
    


    .container-eslogan{
    width: 100%;
    height: 100%;
    padding-left: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;

    }
    .container-eslogan h1{
    text-align:center;
    color: white;
    font-size: 20px;
    font-weight: 100;
    }
    





    .info-nosotros p{
        color: rgb(27, 27, 27);
        font-size: 13px;
        text-align: justify;
        font-weight: 600;
        

    }




    .info-nosotros p{
    font-weight: 200;
    font-size: 11px;
}




    .cards-servicios{
        gap: 0px;
        padding-top: 0px;
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        padding: 0px;
        
    }

    .card-info{
        width: 100%;
        height: 300px;
        border-radius: 0px;
        background-size: auto;
    }
    .card-info:nth-child(-n+3){
        background-size:cover;

    }
    .cards-servicios .card-info p {
        color: rgb(255, 255, 255);
        padding: 40px;
        font-size: 12px;
        font-weight: 100;
        width: 80%;
    }




    .container-galerias{
        background-image: none;
        background-color: rgb(255, 255, 255);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 5px; 
    }

    .foto-grande-galeria1, .foto-a-galeria1, .foto-b-galeria1, .foto-c-galeria1, .foto-d-galeria1{
        width: 360px;
        border-radius: 0px;
    } 

    .foto-grande-galeria2, .foto-a-galeria2, .foto-b-galeria2, .foto-c-galeria2, .foto-d-galeria2 {
        width: 360px;
        border-radius: 0px;
    }

    




    .form-contacto{
        width: 350px;
        background-color: rgb(241, 241, 241);
    }
   



    /* FOOTER */
    
    .pie_pagina .grupo1{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    .box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;   
    }
    .pie_pagina .grupo1 .box h1{
        color: rgb(255, 255, 255);
        font-size: 25px;
    }
    .pie_pagina .grupo1 .box h2{
        color: black;
    }
    .pie_pagina .grupo1 .box p{
        color: black;
        font-size: 12px;
        font-weight: 600;
    }
    .pie_pagina .grupo1 .red_social a{
        border-radius: 5px;
    }



}   

